body {
  padding-top: 5rem;
  background-color: whitesmoke;
  background-image: url("../images/Background.png");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */ */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

h1{
  color: whitesmoke;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 5em
}
h3{
  color: bisque;
}
p{
  color: black;
}
.navbar{
  background-color: navy;
}
.nav-link{
  color: MediumSpringGreen;
}
.logo{
  width: 60px;
  border-radius: 8px;
}
.bird{
  width: 50px;
}
.container{
 padding-left: 0.125rem
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)");
}
