body {
  padding-top: 5rem;
  background-color: powderblue;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: darkorchid;
}
h1{
  color:cyan;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}
h3{
  color: darkturquoise;
}
p{
  color: deepskyblue;
}
.row{
  color: lime;
}
.navbar{
  background-color: indigo;
}
.nav-link{
  color: palegreen;
}
.navbar-brand{
  color: lightgreen;
}

.carousel-container {
  margin: auto;
}
