body {
  padding-top: 5rem;
  background-color: honeydew;
}

h1{
  color:maroon;
  font-family: monospace;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
h2{
  color: navy;
}
p{
  color: palevioletred;
}
.navbar{
  background-color: navy;
}
.nav-link{
  color: MediumSpringGreen;
}
.navbar-brand{
  color: lightgreen;
}
.logo{
  width: 60px;
  border-radius: 8px;
}
.bird{
  width: 50px;
}
