body {
  padding-top: 5rem;
  background-color: white
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: darkorchid;
}
h4{
  font-size: 30px;
  color:Magenta;
}
h1{
  color:cyan;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}
h2{
  color: navy;
}
h3{
  color: pink;
}
p{
  color: deepskyblue;
}
.row{
  color: MediumSpringGreen;
}
.navbar{
  background-color: indigo;
}
.nav-link{
  color: palegreen;
}
.navbar-brand{
  color: lightgreen;
}
.creepy-statue{
  width: 600px
}
.building{
  width: 600px
}
.pod{
  width: 600px
}
