body {
  padding-top: 5rem;
  background-color: aquamarine;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: azure;
}
h1{
  color:turquoise;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}
p{
  color: blue;
}
.row{
  color: darkgreen;
}
.navbar{
  background-color: lightseagreen;
}
.nav-link{
  color: palegreen;
}
.navbar-brand{
  color: lightgreen;
}

.carousel-container {
  margin: auto;
}
