body{
  padding-top: 5rem;
  background-image: url("../images/brike-wall.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */ */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h4{
  font-size: 30px;
  color:Magenta;
}
h1{
  color:cyan;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}
h2{
  color: navy;
}
h3{
  color: skyblue;
}
p{
  color: deepskyblue;
}
.row{
  color: MediumSpringGreen;
}
.navbar{
  background-color: indigo;
}
.nav-link{
  color: palegreen;
}
.navbar-brand{
  color: lightgreen;
}
.creepy-statue{
  width: 600px
}
.building{
  width: 600px
}
.pod{
  width: 600px
}

#about {
  text-align: center;
}
.logo{
  width: 60px
}
.bird{
  width: 50px
}
